.contactContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

textarea,
input:not([type="submit"]) {
  width: 250px;
  height: 50px;
  padding-left: 16px;
}

textarea {
  padding-top: 16px;
  resize: none;
  height: 250px;
}

input,
textarea {
  border: #888 1px solid;
  border-radius: 20px;
  box-sizing: border-box;
  justify-self: center;
  background-color: var(--background-color);
  color: var(--form-text-color);
}
::placeholder {
  color: var(--form-text-color);
}
.submitBtn {
  border: none;
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border-radius: 20px;
  width: max-content;
  padding: 14px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin: auto;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
  &:focus {
    outline: none;
  }
}
@media (width>= 768px) {
  textarea,
  input:not([type="submit"]) {
    width: 600px;
    font-size: 20px;
  }
  form {
    gap: 40px;
  }
}

@media (width>= 1400px) {
  textarea,
  input:not([type="submit"]) {
    width: 800px;
  }
}
