:root {
  --background-color: #fff;
  --btn-color: #0987f2;
  --btn-text-color: #fff;
  --project-card-bg: #ffffff00;
  --text-color: #222;
  --form-text-color: #555;
  --footer-text-color: #888;
  --menu-bg-color: #e6f1fe;
  --highlight-text-color: var(--btn-color);
  --active-highlight-color: #f0f0f0;
  --active-btn-bg-color: rgba(4, 102, 200, 0.1);
  --learn-more-btn-color: #1976d2;
}

[data-theme="dark"] {
  --background-color: linear-gradient(
    135deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(47, 47, 47, 1) 50%,
    rgba(61, 61, 61, 1) 100%
  );
  --btn-color: #ffc857;
  --btn-text-color: #222;
  --project-card-bg: #fff;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
  --menu-bg-color: #222;
  --highlight-text-color: #ffc857;
  --active-highlight-color: hsla(0, 0%, 100%, 0.2);
  --active-btn-bg-color: rgba(255, 180, 40, 0.3);
  --learn-more-btn-color: #80c0ff;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 4rem;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  justify-content: space-between;
}

body {
  background: var(--background-color);
}

h1,
h2,
h3,
h4,
p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h2,
h3,
h4,
p,
span {
  font-family: "roboto mono", monospace;
}

h1,
h2 {
  text-transform: uppercase;
}

h2,
h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.sectionTitle {
  display: none;
}
a {
  text-decoration: none;
}

@media (width>=768px) {
  h1 {
    font-size: 40px;
  }
  h2,
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }

  .sectionTitle {
    margin-bottom: 60px;
  }
}

@media (width>=1400px) {
  h1 {
    font-size: 48px;
  }
  .sectionTitle {
    margin-bottom: 75px;
  }
}

@media (max-width: 767px) {
  .main {
    min-height: auto;
  }
}
